<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BrandMapper">

    <!--    统计有效品牌数量-->
    <select id="getBrandNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM brand
        WHERE is_delete=0;
    </select>
</mapper>
