<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DotMapper">
    <select id="getByBrand" resultType="com.example.demo.entity.Dot">
        select *
        from dot
        where brand like #{brand}
    </select>

<!--    管理员界面-dot信息管理的数据-->
    <select id="findPage" resultType="com.example.demo.entity.Dot">
        SELECT d.*, o.name as ownerName,brand.name as brandName,factory.name as factoryName,location.name as locationName
        FROM dot d
        LEFT JOIN own o
        ON d.owner_id = o.id
        left join brand
        on d.brand_id = brand.id
        left join factory
        on d.factory_id = factory.id
        left join location
        on d.localid = location.id
        <where>
            <if test="brand != null and brand != ''">
                and brand like concat('%', #{brand},'%')
            </if>


        </where>
    </select>

    <select id="recall" resultType="com.example.demo.entity.Dot">
        SELECT * FROM dot WHERE recall=1


    </select>
    <select id="findPageLocal" resultType="com.example.demo.entity.Dot" parameterType="int">
        select d.*
        from dot d
        left join location l
        on d.localid = l.id
        where localid = #{localid}
<!--        <where>-->
<!--            <if test="localid != null and localid != ''">-->
<!--                and localid like concat('%', #{localid},'%')-->
<!--            </if>-->
<!--        </where>-->

    </select>


    <!--    统计有效轮胎数量-->
    <select id="getTireNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM Dot
        WHERE is_delete=0;
    </select>
</mapper>
