<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DotMapper">
    <select id="getByBrand" resultType="com.example.demo.entity.Dot">
        select *
        from dot
        where brand like #{brand}
    </select>
    <select id="findPage" resultType="com.example.demo.entity.Dot">
        select * from dot

        <where>
            <if test="brand != null and brand != ''">
                and brand like concat('%', #{brand},'%')
            </if>
        </where>
    </select>

    <select id="recall" resultType="com.example.demo.entity.Dot">
        SELECT * FROM dot WHERE recall=1


    </select>
    <select id="findPageLocal" resultType="com.example.demo.entity.Dot" parameterType="int">
        select d.*
        from dot d
        left join location l
        on d.localid = l.id
        where localid = #{localid}
<!--        <where>-->
<!--            <if test="localid != null and localid != ''">-->
<!--                and localid like concat('%', #{localid},'%')-->
<!--            </if>-->
<!--        </where>-->

    </select>

</mapper>
