<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ImgMapper">
    <select id="findMaxTime" resultType="com.example.demo.entity.Img">
        SELECT * FROM img WHERE ctime=(SELECT MAX(ctime) FROM img)
    </select>

    <select id="save" resultType="com.example.demo.entity.Img">
        insert if not exists into img(imgname,yuan,kuang,recog,ryear) values (#{imgname},#{yuan},#{kuang},#{recog},#{ryear})
    </select>

</mapper>
